**/target
.env
trash
node_modules
dist
*env
/data
bindings
config.toml
**/.vitepress/cache
**/.vitepress/dist
**/.wrangler
/target-asan
/buck-out/v2
/third-party/rust/.cargo
/third-party/rust/vendor
**/pnpm-store
**/build-workspaceconfig.docker.toml
/.tmp
/config.docker.toml
